@import '_variables.scss';

// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//
// Example of a variable override to change Silicon background color
// Remove the "//" to comment it in and see it in action!

$body-bg: $gray-50;

$nav-pills-link-active-color: #115F45;
$nav-pills-link-active-bg: #87F7B2;
$btn-link-color: $secondary ;

/*Inputs*/
$input-focus-border-color: $primary-50;
$input-focus-box-shadow: $box-shadow-base $gray-300;

/*Pagination*/
$pagination-bg: transparent;
$pagination-color: $gray-600;
$pagination-hover-color: $primary;
$pagination-hover-bg: $primary-100;
$pagination-focus-color: $primary ;
$pagination-active-color: $primary ;
$pagination-active-bg: $primary-100;

/*List Items*/
$list-group-color: $gray-600;

$list-group-action-color: $gray-600;
$list-group-hover-bg: rgba($primary, 0.05);
$list-group-action-active-color: $primary;
$list-group-action-active-bg:rgba($primary, 0.12);
$list-group-border-color: none;
$list-group-active-box-shadow: none;

/*Dropdown Items*/
$dropdown-link-hover-bg: $primary-50;


/*=================================================================================================
CUSTOM CSS
=================================================================================================*/


.navbar-nav{
	.nav-item{
		.nav-link{
			&.active{
				box-shadow: inset 0 -3px 0 $primary;
			}
		}
	}
}


.dot {
  height: .5rem;
  width: .5rem;
 
  border-radius: 50%;
  display: inline-block;
}

.job-description, .my-organization, .messages{
	.avatar{
		width: 4rem;
		height: 4rem;
	}
}

.avatar {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gray-200;
	border-radius: 100%;
	p {
		color: $primary;
		text-align: center;
		margin: 0;
	}
}




.badge-icon{
	width: .75rem;
	height: .75rem;
}

.overview-icon{
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
	color: $primary;
}

	
.card-icon {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}


.mobile{
	visibility:hidden;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

.btn{
	svg{
		width: 1.5em;
		height: 1.5em;
		
	}
	&.btn-menu{
			position: absolute;
			top: 1rem;
			right: 1rem;
			border-radius: 100%;
			&:hover{
				background: rgba($gray-800, 0.15);
			}
			/*i{
				width: 1.5rem;
				height: 1.5rem;
			}
			*/
	}
	
}

#action-required{
.btn{
	&.btn-menu{
			position: absolute;
			top: 1rem;
			right: 0rem;
			
	}
}
}

.card{
		
	&.card-selected{
		background:$primary-50;
	}

	&.card-organization{
		.avatar{
			width: 5rem;
			height: 5rem;
		}
	}
	
	.card-header{
		min-height: 40px;
	}
	

}

.pipeline-steps{
	min-width: 300px !important;
	.card-body{

		max-height: 700px;

	}
}

.chat-list{
	max-height: 600px;
}

.offcanvas{
	.navbar-nav{
		.nav-item{
			
			.nav-link{
				padding: 0.5rem;
				min-width: 300px;
				&.active{
					padding: 0.5rem;
					background: rgba($primary, 0.12);
					border-radius: .5rem;
					color: $primary;
					box-shadow: none;
				}
			}
		}

	}
}

/*=================================================================================================
MEDIA QUERIES 
=================================================================================================*/


@media (max-width:767px){
	.navigation{
		display: none;
	}
	
}
