@import '_variables.scss';

// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//
// Example of a variable override to change Silicon background color
// Remove the "//" to comment it in and see it in action!

$body-bg: $gray-100;

/*=================================================================================================
CUSTOM CSS
=================================================================================================*/

.avatar {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gray-200;
	border-radius: 100%;
	p {
		color: $primary;
		text-align: center;
		margin: 0;
	}
}
.card{
	.card-header{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		.card-title{
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: center;
		}
	}
	.card-icon {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
    }

	&.card-overview{
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
$input-focus-border-color: $primary-300;
$input-focus-box-shadow: $box-shadow-base rgba($primary, 0.72);
