@import '_variables.scss';

// user-variables.scss
// Use this to override Bootstrap and Silicon variables
//
// Example of a variable override to change Silicon background color
// Remove the "//" to comment it in and see it in action!

$body-bg: $gray-50;


$btn-link-color: $secondary ;

/*Inputs*/
$input-focus-border-color: $primary-50;
$input-focus-box-shadow: $box-shadow-base $gray-300;

/*Pagination*/
$pagination-bg: transparent;
$pagination-color: $gray-600;
$pagination-hover-color: $primary;
$pagination-hover-bg: $primary-100;
$pagination-focus-color: $primary ;
$pagination-active-color: $primary ;
$pagination-active-bg: $primary-100;

/*List Items*/
$list-group-color: $gray-600;

$list-group-action-color: $gray-600;
$list-group-hover-bg: rgba($primary, 0.05);
$list-group-action-active-color: $primary;
$list-group-action-active-bg:rgba($primary, 0.12);
$list-group-border-color: none;
$list-group-active-box-shadow: none;

/*Dropdown Items*/
$dropdown-link-hover-bg: $primary-50;


/*=================================================================================================
CUSTOM CSS
=================================================================================================*/


.navbar-nav{
	.nav-item{
		.nav-link{
			&.active{
				box-shadow: inset 0 -3px 0 $primary;
			}
		}
	}
}

.mobile-nav-toggler {
	
	display: none;
	justify-content: center;
	align-items: center;
}

.logo{
	height: 1.5rem;
}
.dot {
  height: .5rem;
  width: .5rem;
 
  border-radius: 50%;
  display: inline-block;
}

.job-description, .my-organization{
	.avatar{
		width: 4rem;
		height: 4rem;
	}
}

.avatar {
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gray-100;
	border-radius: 100%;
	border: 1px solid $gray-200;
	p {
		color: $primary;
		text-align: center;
		margin: 0;
	}
}

.badge-icon{
	width: .75rem;
	height: .75rem;
}

.overview-icon{
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
	color: $primary;
}
	
.card-icon {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

.mobile{
	visibility:hidden;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

.btn{
	svg{
		width: 1.5em;
		height: 1.5em;
		
	}
	&.btn-menu{
			position: absolute;
			top: 1rem;
			right: 1rem;
			border-radius: 100%;
			&:hover{
				background: rgba($gray-800, 0.15);
			}
			/*i{
				width: 1.5rem;
				height: 1.5rem;
			}
			*/
	}
	
}

#action-required{
.btn{
	&.btn-menu{
			position: absolute;
			top: 1rem;
			right: 0rem;
			
	}
}
}

.card{
		
	&.card-selected{
		background:$primary-50;
	}

	&.card-organization{
		.avatar{
			width: 5rem;
			height: 5rem;
		}
	}
	
	.card-header{
		min-height: 40px;
	}
	

}
.listing-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
}

.pipeline-steps{
	min-width: 300px !important;
	min-height: 500px;
	.card-body{

		max-height: 700px;

	}
}

.chat-list-header{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
padding: 1.25rem;
background:$gray-50;
border-bottom: solid 1px $gray-100;

}
.chat-list-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: .25rem;
	padding: .5rem;

}
.chat-list-item{
	display: grid;
	grid-template-columns: 2.5rem 1fr;
	align-items: center;
	gap: .75rem;
	padding: 0.75rem;
	border-radius: .5rem;
	width: 100%;
	overflow: hidden;
	transition: background .2s;
	.chat-list-item-body{
		
		display: flex;
		flex-direction: column;
		overflow: hidden;
		& > *{
			display: flex;
			flex-direction: row;
			gap:.5rem;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
	.avatar {
		width: 2.5rem;
		height: 2.5rem;
	}
	&:hover{
		background: rgba($primary-50, 0.5);
	}
	&.--active{
		background: $primary-50;
	}
	*{
		cursor: default;
		margin: 0;
	}
}

.messages-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: .75rem;
	padding: 1.25rem;
	background: $white;
	border-bottom: 1px solid $gray-100;
	
	.avatar{
		width: 2.5rem !important;
		height: 2.5rem !important;
	}
}
.messages-body{
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
gap: .75rem;
padding: 1.25rem;
height: 100%;
background:$gray-50;
.message{
	width: 100%;
	max-width: 37.5rem;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-radius:$border-radius-lg;
	background: $primary;
	padding: 1rem;
	color: white;
	&.--received{
		background: rgba($success , 0.8);
		align-self: flex-start;
	}
	.timestamp{
		font-size: $font-size-xs;
		line-height: 1em;
		opacity: .8
	}
	*{
		margin:0;
	}
}
.date{
	background: $gray-100;
	padding: .75rem 1rem;
	border-radius: $border-radius-lg;
	font-size:$font-size-sm;
	line-height: 1em;
	
}

}
.messages-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1rem;
	padding: 1.25rem;
	background: $white;
	border-top: solid 1px $gray-100;
	input{
		background-color: $primary-50;
	}
	.btn-primary{
		border: none !important;
		background: $primary-100 !important;
	}
	z-index: 3;
}

.offcanvas{
	
	.navbar-nav{
		.nav-item{
			
			.nav-link{
				padding: 0.5rem;
				min-width: 300px;
				&.active{
					padding: 0.5rem;
					background: rgba($primary, 0.12);
					border-radius: .5rem;
					color: $primary;
					box-shadow: none;
				}
			}
		}

	}
}

/*=================================================================================================
MEDIA QUERIES 
=================================================================================================*/


@media (max-width:992px){
	.navigation{
		display: none;
	}
	.mobile-nav-toggler {
		display: flex;
	}
	.logo{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50% , -50%);
	}
	.listing-header{
		flex-direction: column;
	}
}


